body {
  background-image: url("../images/keem_achill.jpg");
  background-repeat:no-repeat;
  background-color: black;
  background-size: cover;
  overflow: scroll;
}

ul {
  color: white;
  text-align: right;
}

li {
  text-align: right;
  padding: 5px;
  font-family: courier, mono;
  list-style: none;
  font-size: 1em;
}

/* Links */

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: pink;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: hotpink;
}
