html, body {
  height: 100%;
  color: yellow;
}

body {
  background-image: url("../images/keem_achill.jpg");
  background-repeat:no-repeat;
  background-color: black;
  background-size: cover;
  overflow: scroll;
  font-family: courier, mono;
  padding: 10px;
}

h1 {
  text-align: right;
  text-transform: uppercase;
}

/* Lists */

ul {
  color: white;
  text-align: right;
}

li {
  text-align: right;
  padding-top: 5px;
  list-style: none;
}

/* Links */

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: pink;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

#index {
  float: right;
  text-align: right;
}

hr {
  float: right;
  width: 200px;
}
