<footer>
    <hr>
    <br>
    <ul>
      <li class="footer"><a href="https://github.com/kellyky" target="_blank">GitHub</a></li>
      <li class="footer"><a href="https://medium.com/@kelpopko" target="_blank">Medium</a></li>
      <li class="footer"><a href="https://exercism.org/profiles/kellyky" target="_blank">Exercism</a></li>
      <li class="footer"><a href="https://www.codewars.com/users/kellyky" target="_blank">CodeWars</a></li>
      <li class="footer"><a href="https://www.linkedin.com/in/kelly-popko/" target="_blank">LinkedIn</a></li>
    </ul>
</footer>
