<header>
  <ul>
    <li class="header"><a href="https://aavalam.org/" target="_blank">Aavalam Home</a></li>
    <li class="header">|</li>
    <li class="header"><a href="./index.html">Kelly's Aavalam Space</a></li>
  </ul>
  <br>
</header>
