<html lang="en">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Kelly's Site</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='assets/css/main.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='assets/css/index.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='assets/css/header_footer.css'>
</head>
<body>
  <div class="background">
    <%= render_partial('_header') %>
    <%= render_partial('_main') %>
    <%= render_partial('_footer') %>
  </div>
</body>
</html>
