<% require 'erb' %>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Today I Learned...</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='assets/css/main.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='assets/css/today_i_learned.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='assets/css/header_footer.css'>
</head>
<body>
  <%= render_partial('_header') %>

  <h1>Posts</h1>
  <ul>
    <li><a href="https://medium.com/@kelpopko/today-i-learned-git-series-custom-base-branch-23296860b403" target="_blank">git: Set custom base branch</a></li>
    <li><a href="https://medium.com/@kelpopko/today-i-learned-git-series-custom-base-branch-revisited-71aa8db3e0f2" target="_blank">git: custom base branch revisited</a></li>
    <li><a href="https://medium.com/@kelpopko/today-i-learned-searching-git-log-77cf7346d6f4" target="_blank">git: git log search</a></li>
    <li><a href="https://medium.com/@kelpopko/today-i-learned-searching-git-logs-by-author-2037e6c40c1e" target="_blank">git: git log author search</a></li>
    <li><a href="https://medium.com/@kelpopko/today-i-learned-git-logs-case-insensitive-author-search-ac661e4999a1" target="_blank">git: (case insensitive) git log author search</a></li>
  </ul>

  <%= render_partial('_footer') %>
</body>
</html>
