li.header, li.footer {
  display: inline-flex;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fefefe;
  padding: 10px 16px;
  border-bottom: 0.5px solid #353839;
}

footer {
  position: sticky;
  bottom: 0;
  background: #e2dacd;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
  border-top: 0.5px solid #353839;
}

footer li {
 padding: 10px;
}

