html, body {
  height: 100%;
  color: #332c34;
  padding: 0;
}

main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
}


section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #cd1c18;
}

article {
  display: flex;
  flex-direction: column;
  width: 30%;
}

@media only screen and (max-width: 768px) {
  article {
    width: 100%;
  }
}

p {
  font-family: "Proxima Nova";
  text-align: right;
}

h1, h2 {
  font-family: courier;
  color: #2a242e;
  text-align: right;
  margin-bottom: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

/* Lists */

ul {
  color: white;
  text-align: right;
}

li {
  font-family: "Proxima Nova";
  text-align: right;
  padding-top: 5px;
  list-style: none;
}

/* Links */

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #CD186E;
}

/* visited link */
a:visited {
  color: #CD7718;
}

/* mouse over link */
a:hover {
  color: #CD186E;
}

#index {
  float: right;
  text-align: right;
}

hr {
  float: right;
  width: 200px;
}
