html, body {
  height: 100%;
  color: #332c34;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 100dvh;
  margin-top: 35px;
  padding-right: 1rem;
  padding-left: 1rem;
}


section {
  color: #cd1c18;
  width: 100%;
}

@media screen and (min-width: 768px) {
  section {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  section {
    width: 40%;
  }
}

article {
  font-size: 1rem;
  letter-spacing: 2px;
  backdrop-filter: blur(5px);
}

p {
  font-family: "Proxima Nova";
}

h1, h2 {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-family: "Courier";
  color: #2a242e;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-weight: 200;
}

/* Lists */

ul {
  color: white;
  text-align: right;
}

li {
  font-family: "Proxima Nova";
  padding-top: 5px;
  list-style: none;
}

/* Links */

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #CD186E;
}

/* visited link */
a:visited {
  color: #CD7718;
}

/* mouse over link */
a:hover {
  color: #CD186E;
}

#index {
  float: right;
  text-align: right;
}

hr {
  float: right;
  width: 200px;
}
