body {
  text-align: right;
}

.background {
  background-image: url("../images/keel_achill.jpg");
  height: 100%;
  width: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: scroll;
  padding: 20px;
}

article {
  background-color: black;
  opacity: 0.5;
  margin: 5px;
  padding: 25px;
  border-radius: 25px;
  display: inline-block;
  font-family: avenir;
  text-align: left;
}

code {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

/* Links */

/* unvisited link */
a:link {
  color: indigo;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

