html, body {
  height: 100%;
  color: yellow;
}

.background {
  background-image: url("../images/myajima.png");
  height: 100%;
  width: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}

